.brands-slider {
	position: relative;
	margin-top: 100px;
	margin-bottom: 60px;
	&-title {
		@include em(32px);
		font-weight: 600;
		color: #000;
		text-align: center;
		margin-bottom: 50px;
	}
	&-btn-wrp {
		position: absolute;
		right: 0;
		top: 15px;
		button {
			cursor: pointer;
			border: none;
			padding: 0;
			background: url('/icons/arrow-icon.svg') center no-repeat;
			background-size: cover;
			width: 20px;
			height: 20px;
		}
	}
	&-prev {
		margin-right: 20px;
		transform: rotate(-180deg);
	}
	.swiper-slide img {
		max-width: 85px;
		max-height: 45px;
	}
}

@media screen and (max-width: 1601px) {
	.brands-slider {
		margin-top: 60px;
	}
}

@media screen and (max-width: 426px) {
	.brands-slider {
		&-title {
			@include em(20px);
		}
		&-btn-wrp {
			top: 5px;
		}
	}
}

@media screen and (max-width: 321px) {
	.brands-slider {
		margin: 30px 0;
	}
}