.brandsSlider {
	position: relative;
	margin-top: 100px;
	margin-bottom: 60px;
	&__title {
		@include em(32px);
		font-weight: 600;
		color: #000;
		text-align: center;
		margin-bottom: 50px;
	}
	&__btnWrp {
		position: absolute;
		right: 0;
		top: 15px;
		button {
			cursor: pointer;
			border: none;
			padding: 0;
			background: url('/icons/arrow-icon.svg') center no-repeat;
			background-size: cover;
			width: 20px;
			height: 20px;
		}
	}
	&__prev {
		margin-right: 20px;
		transform: rotate(-180deg);
	}
	.swiper-slide img {
		max-width: 85px;
		max-height: 45px;
	}
}