.home-nav {
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    padding: 10px 0;
    position: relative;
    &-link {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        position: relative;
        &-icon {
          width: 20px;
        }
        &:after {
            content: '';
            width: 10px;
            height: 10px;
            background: url('/icons/nav-arrow-icon.svg') center no-repeat;
            background-size: cover;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }
        span {
            @include em(12px);
            font-weight: 500;
            color: #000;
            display: inline-block;
        }
    }
    &-subcategory-wrp {
        position: absolute;
        min-width: 240px;
        left: 100%;
        top: -1px;
        z-index: 3;
        background-color: #fff;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        white-space: nowrap;
    }
    &-subcategory-item {
        // margin-right: 50px;
        // margin-bottom: 40px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
    }
    &-subcategory {
        display: block;
        @include em(12px);
        font-weight: 500;
        color: #000;
        margin-bottom: 8px;
        padding: 0 8px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-tag {
        display: block;
        font-weight: 400;
        color: #000;
        margin-bottom: 8px;
        &:first-child {
            margin-top: 16px;
        }
    }
}
