.cart-list {
	&-row {
		display: flex;
		align-items: flex-start;
		width: 730px;
		border-bottom: 1px solid var(--line-base);
		padding-bottom: 25px;
		margin-bottom: 25px;
		position: relative;
		&:last-child {
			border-bottom: none;
		}
	}
	&-img {
		img {
			width: 100px;
			height: 100px;
			object-fit: contain;
		}
	}
	&-name-wrp {
		width: 310px;
		padding-right: 20px;
	}
	&-name {
		@include em(14px);
		font-weight: 500;
		color: #000;
	}
	&-available {
		@include em(14px);
		font-weight: 600;
		&.--green {
			color: #4CAF50;
		}
		&.--red {
			color: #F13D3D;
		}
	}
	&-btn-wrp {
		display: flex;
		align-items: flex-start;
	}
	&-price-wrp {
		text-align: right;
	}
	&-price {
		@include em(16px);
		font-weight: 700;
		color: #000;
	}
	&-old-price {
		@include em(14px);
		font-weight: 500;
		color: var(--gray-base);
		text-decoration: line-through;
	}
	&-favorites,
	&-remove {
		width: 20px;
		height: 20px;
		position: absolute;
		right: 0;
		border: none;
		padding: 0;
		cursor: pointer;
	}
	&-favorites {
		border: none;
    background: none;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
    &.-added {
      path {
          fill: var(--color-base);
          stroke: var(--color-base);
      }
  }
	}
	&-remove {
		top: 40px;
		background: url('/icons/delete-icon.svg') center no-repeat;
		background-size: contain;
	}
	.product-counter {
		opacity: 1;
		margin-right: 20px;
	}
}

@media screen and (max-width: 1025px) {
	.cart-list {
		&-row {
			margin-top: 20px;
			width: 640px;
		}
		&-name-wrp {
			width: 245px;
		}
	}
}

@media screen and (max-width: 810px) {
	.cart-list {
		width: 100%;
		&-row {
			width: 100%;
		}
		&-name-wrp {
			width: 45%;
		}
	}
}

@media screen and (max-width: 426px) {
	.cart-list {
		&-row {
			flex-wrap: wrap;
			&:last-child {
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}
		&-name-wrp {
			width: 65%;
			padding-right: 0;
		}
		&-btn-wrp {
      position: relative;
      justify-content: flex-end;
      align-items: center;
      margin-left: auto;
      width: 100%;
    }
    &-favorites {
      top: 10px;
      left: 15px;
    }
    &-remove {
      top: 10px;
      left: 65px;
    }
	}
}

@media screen and (max-width: 321px) {
	.cart-list {
		&-img {
			img {
				width: 60px;
				height: 60px;
			}
    }
    &-favorites {
      top: 10px;
      left: 0;
    }
    &-remove {
      top: 10px;
      left: 40px;
    }
	}
}
