.profile-confirm {
  max-width: 340px;
  margin: auto;
  padding: 13vh 0;
  text-align: center;
  .profile-success-image {
    margin: auto;
    margin-bottom: 30px;
  }
  .profile-success-title {
    font-size: 1.3em;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
  }
}
