.brand-list {
    padding-top: 30px;
    .section-title {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    &-letter-wrp {
        border-top: 1px solid var(--line-base);
        border-bottom: 1px solid var(--line-base);
        display: flex;
        justify-content: space-between;
    }
    &-letters {
        button {
            background-color: transparent;
            border: none;
            @include em(14px);
            font-weight: 500;
            color: #000;
            padding: 14px 10px;
            text-transform: uppercase;
            cursor: pointer;
            &:first-child {
                padding-left: 0;
            }
        }
    }
    &-search {
        display: flex;
        align-self: stretch;
        align-items: center;
        position: relative;
        input {
            border: none;
            @include em(14px);
            font-weight: 400;
            color: #000;
            padding-right: 30px;
            width: 150px;
        }
        button {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            border: none;
            padding: 0;
            background-color: transparent;
            width: 20px;
            height: 20px;
        }
    }
    &-row {
        display: flex;
        margin-top: 70px;
        padding-bottom: 70px;
        border-bottom: 1px solid var(--line-base);
        &:last-of-type {
            border-bottom: none;
        }
    }
    &-col {
        width: 435px;
        margin-right: 100px;
        flex-shrink: 0;
        &:first-child {
            width: auto;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &-brand {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 32px;
        img {
            max-width: 120px;
            max-height: 32px;
        }
        p {
            @include em(16px);
            font-weight: 500;
            color: #000;
        }
    }
    &-letter {
        @include em(32px);
        font-weight: 600;
        color: #000;
    }
}
@media (max-width: 1025px) {
    .brand-list {
        &-letters {
            button {
                padding: 14px 8px;
            }
        }
        &-col {
            width: 370px;
        }
    }
}

@media (max-width: 769px) {
    .brand-list {
        &-letter-wrp {
            display: block;
            border-bottom: none;
        }
        &-letters {
            border-bottom: 1px solid var(--line-base);
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow-x: auto;
            margin-bottom: 20px;
        }
        &-search {
            border-bottom: 1px solid #000;
            padding-bottom: 5px;
            input {
                width: 100%;
            }
        }
        &-row {
            flex-wrap: wrap;
            padding-bottom: 10px;
            margin-top: 40px;
        }
        &-col {
            width: 100%;
        }
    }
}