.contacts-page {
	padding-top: 20px;
	&-top {
		margin-top: 40px;
		display: flex;
	}
	&-right {
		flex: 1;
		height: 500px;
		overflow: hidden;
		border-radius: 8px;
	}
	&-title {
		text-align: center;
		background-color: var(--bg-base);
		display: block;
		padding: 34px 0;
		border-radius: 20px;
		@include em(24px);
		font-weight: 600;
		color: #000;
	}
	&-select {
		@include em(24px);
		font-weight: 600;
		color: var(--color-base);
		border: none;
		option {
			text-align: right;
			color: #000;
			font-size: 16px;
		}
	}
	&-phone {
		a {
			margin-bottom: 20px;
			display: block;
			position: relative;
			padding-left: 25px;
			@include em(16px);
			font-weight: 600;
			color: #000;
			&:before {
				content: '';
				width: 20px;
				height: 20px;
				background: url('/icons/phone-icon.svg') center no-repeat;
				background: contain;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	&-schedule {
		margin-bottom: 30px;
		p {
			@include em(16px);
			font-weight: 600;
			color: #000;
		}
	}
	&-list {
		width: 350px;
		margin-right: 125px;
	}
	&-list-item {
		border-top: 1px solid var(--line-base);
		padding-bottom: 20px;
		&:last-child {
			border-bottom: 1px solid var(--line-base);
		}
		a {
			font-weight: 500;
			color: #000;
		}
		p {
			margin-top: 20px;
			position: relative;
			@include em(14px);
			font-weight: 500;
			color: #000;
			padding-left: 40px;
			&:before {
				content: '';
				width: 20px;
				height: 20px;
				position: absolute;
				left: 0;
				top: 0;
				background-size: contain;
			}
		}
	}
	&-address {
		&:before {
			background: url('/icons/pin-icon.svg') center no-repeat;
		}
	}
	&-list-phone {
		&:before {
			opacity: 0.5;
			background: url('/icons/phone-icon.svg') center no-repeat;
		}
	}
	&-row {
		display: flex;
		margin: 60px 0;
		justify-content: center;
	}
	&-col {
		width: 320px;
		height: 180px;
		margin: 0 20px;
		position: relative;
		perspective: 1000px;
		&:hover {
			.contacts-page-col-front {
				transform: rotateX(-180deg);
			}
			.contacts-page-col-back {
				box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
				transform: rotateX(0);
			}
		}
	}
	&-col-text {
		display: flex;
		align-items: center;
		@include em(14px);
		font-weight: 600;
		color: #000;
		svg {
			width: 30px;
			height: 30px;
			flex-shrink: 0;
			margin-right: 10px;
		}
		a {
			color: #000;
		}
	}
	&-col-front {
		height: 100%;
		background-color: var(--bg-base);
		border-radius: 20px;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		backface-visibility: hidden;
		display: flex;
		z-index: 1;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		transition: transform 0.4s ease;
	}
	&-col-back {
		background-color: #fff;
		backface-visibility: hidden;
		border-radius: 20px;
		box-shadow: 0px 3px 20px rgba(0, 0, 0, 0);
		overflow: hidden;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: all 0.4s ease;
		transform: rotateX(180deg);
	}
}

@media screen and (max-width: 769px) {
	.contacts-page {
		&-top,
		&-row {
			flex-wrap: wrap;
		}
		&-col {
			width: 100%;
			margin: 0;
			margin-bottom: 20px;
		}
		&-title {
			@include em(20px);
			padding: 20px 0;
		}
		&-list {
			width: 100%;
			margin-right: 0;
		}
		&-right {
			width: 100%;
			flex: initial;
		}
	}
}
