.header {
    &-top {
        background: var(--bg-base);
    }
    &-top-row {
        justify-content: space-between;
    }
    &-top-link {
        margin-right: 30px;
    }
    &-phone a,
    &-top-link {
        display: inline-block;
        line-height: 40px;
        @include em(12px);
        font-weight: 500;
        color: #000;
    }
    &-price {
        @include em(14px);
        font-weight: 500;
        color: #000;
    }
    &-phone {
        position: relative;
        padding-left: 22px;
        &:before {
            content: '';
            width: 16px;
            height: 16px;
            background: url('/icons/phone-icon.svg') center no-repeat;
            background-size: cover;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &-mid {
        padding: 15px 0;
    }
    &-mid-row {
        justify-content: flex-start;
    }
    &-city-wrp {
        position: relative;
        padding-left: 25px;
        margin: 0 30px;
        span {
            @include em(14px);
            font-weight: 500;
            color: #000;
            display: inline-block;
            position: relative;
            padding-right: 15px;
        }
        span:after {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(90deg);
            background: url('/icons/nav-arrow-icon.svg') center no-repeat;
            background-size: cover;
        }
        &:before {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url('/icons/city-icon.svg') center no-repeat;
            background-size: cover;
        }
    }
    &-search-wrp {
        position: relative;
        width: 650px;
        margin-left: 40px;
        input {
            display: block;
            width: 100%;
            background: var(--bg-base);
            border-radius: 30px;
            padding: 15px 20px;
            padding-right: 50px;
            @include em(14px);
            color: #000;
            font-weight: 400;
            border: none;
        }
        button {
            border: none;
            padding: 0;
            width: 20px;
            height: 20px;
            background: url('/icons/search-icon.svg') center no-repeat;
            background-size: contain;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            cursor: pointer;
        }
    }
    &-profile,
    &-favorites,
    &-cart {
        width: 24px;
        height: 24px;
        background-size: cover;
        cursor: pointer;
        padding: 0;
        border: none;
        position: relative;
        margin-right: 20px;
    }
    &-profile {
        background: url('/icons/profile-icon.svg') center no-repeat;
        background-size: contain;
        margin-left: auto;
        &.--not-signed {
            position: relative;
            &:before {
                content: 'Войти';
                @include em(12px);
                font-weight: 500;
                color: #000;
                position: absolute;
                left: -40px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &-favorites {
        position: relative;
        background: url('/icons/fav-icon.svg') center no-repeat;
        background-size: contain;
    }
    &-cart {
        margin-right: 10px;
        background: url('/icons/cart-icon.svg') center no-repeat;
        background-size: contain;
    }
    &-btn {
        position: relative;
        display: block;
        width: 255px;
        padding: 0 20px;
        padding-left: 55px;
        @include em(12px);
        font-weight: 600;
        color: #000;
        &:before {
            content: '';
            width: 20px;
            height: 20px;
            background: url('/icons/burger-icon.svg') center no-repeat;
            background-size: cover;
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &:after {
            content: '';
            width: 10px;
            height: 10px;
            background: url('/icons/nav-arrow-icon.svg') center no-repeat;
            background-size: cover;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &-bot {
        border-top: 1px solid var(--line-base);
        padding: 12px 0;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.06);
        .row {
            justify-content: flex-start;
        }
    }
    &-bot-link {
        @include em(14px);
        font-weight: 600;
        color: #F13D3D;
        display: inline-block;
    }
    &-icon-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: .75em;
      line-height: 14px;
      color: #fff;
      background: var(--color-base);
      font-weight: 400;
      border-radius: 30px;
      padding: 0 6px;
      position: absolute;
      right: 0;
      top: 0;
      height: 18px;
      transform: translate(70%,-50%);
    }
}

.mobile-header { display: none; }

@media screen and (max-width: 815px) {
    .header {
        display: none;
    }
    .mobile-header {
        display: block;
        background: #fff;
        padding: 13px 20px;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.06);
        z-index: 10;
        position: relative;
        .header-icon-badge {
            font-size: 0.5em;
            line-height: 10px;
            height: 15px;
        }
        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-burger,
        &-search,
        &-profile,
        &-cart,
        &-favorites {
            width: 15px;
            height: 15px;
            display: block;
            padding: 0;
            border: none;
        }
        &-burger {
            border: none;
            background: url('/icons/burger-icon.svg') center no-repeat;
            background-size: contain;
            padding: 0;
        }
        &-search {
            border: none;
            background: url('/icons/search-icon.svg') center no-repeat;
            background-size: contain;
            padding: 0;
        }
        &-profile {
            background: url('/icons/profile-icon.svg') center no-repeat;
            background-size: contain;
        }
        &-cart {
            position: relative;
            background: url('/icons/cart-icon.svg') center no-repeat;
            background-size: contain;
        }
        &-favorites {
            background: url('/icons/fav-icon.svg') center no-repeat;
            background-size: contain;
            position: relative;
        }
        &-logo {
            max-width: 70px;
            display: block;
            margin-left: 40px;
        }
    }
}
