.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#f7f7f7, .9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  &-inner {
    animation: pulse 1.5s ease-in-out infinite alternate;
  }
  &-text {
    text-align: center;
    padding: 10px 0;
  }
}
@keyframes pulse {
  0% { opacity: 0; }
  100% { opacity: 1; }
}