.checkout-page {
	padding-top: 20px;
	padding-bottom: 60px;
	&-row {
		display: flex;
		justify-content: space-between;
		margin-top: 60px;
	}
	.section-title {
		margin-bottom: 30px;
	}
	&-col:first-child {
		width: 540px;
	}
	textarea {
		resize: none;
		height: 110px;
	}
	&-input {
		display: block;
		width: 100%;
		border: 1px solid var(--line-base);
		border-radius: 6px;
		padding: 14px 20px;
		@include em(14px);
		font-weight: 500;
		color: #000;
		margin-top: 20px;
	}
	&-radio-wrp {
		display: flex;
		justify-content: space-between;
	}
	&-radio {
		width: 255px;
		border: 1px solid var(--line-base);
		border-radius: 6px;
		padding: 20px;
		cursor: pointer;
		user-select: none;
		margin-bottom: 30px;
		&.--active {
			border-color: var(--color-base);
		}
		input {
			display: none;
		}
	}
	&-subtitle {
		@include em(16px);
		font-weight: 700;
		color: #000;
		margin-bottom: 5px;
		display: block;
	}
	&-radio-text {
		@include em(14px);
		font-weight: 600;
		color: var(--gray-base);
	}
	&-current-market {
		width: 100%;
		border: 1px solid var(--line-base);
		border-radius: 6px;
		padding: 14px 20px;
		margin-top: 10px;
		cursor: pointer;
	}
	&-dropdown-wrp {
		position: relative;
		p {
			@include em(14px);
			font-weight: 600;
			color: #000;
		}
	}
	&-dropdown {
		border: 1px solid var(--line-base);
		border-radius: 0 0 6px 6px;
		padding: 14px 20px;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: #fff;
		z-index: 1;
		cursor: pointer;
	}
	&-input-wrp {
		display: flex;
		justify-content: space-between;
		input {
			width: 32%;
		}
		&.--half {
			input {
				width: 49%;
			}
		}
	}
}

@media screen and (max-width: 810px) {
	.checkout-page {
		&-row {
			flex-wrap: wrap;
		}
		&-col {
			width: 100%;
			&:first-child {
				width: 100%;
			}
		}
		&-radio {
			width: 48%;
    	}
	}
}

@media screen and (max-width: 426px) {
  .checkout-page {
	&-radio-wrp {
		flex-wrap: wrap;
	}
	&-radio {
      	width: 100%;
	}
	&-input-wrp {
		flex-direction: column;
		input {
			width: 100% !important;
		}
		}
	}
}
