.catalog-page {
	padding-top: 20px;
	background: var(--bg-base);
	&-nav {
		display: flex;
		flex-wrap: wrap;
		margin-top: 40px;
		margin-bottom: 50px;
	}
	&-nav-btn {
		display: inline-flex;
		align-items: center;
		background: #fff;
		padding: 25px;
		width: 255px;
		margin-right: 30px;
		margin-bottom: 30px;
		&:nth-child(4n) {
			margin-right: 0;
		}
		p {
			@include em(14px);
			font-weight: 600;
			color: #000;
			margin-left: 20px;
		}
	}
	&-icon {
		width: 30px;
		height: 30px;
		flex-shrink: 0;
		object-fit: contain;
	}
	&-category-wrp {
		border-bottom: 1px solid var(--line-base);
		&:last-of-type {
			border-bottom: none;
		}
	}
	&-category {
		@include em(24px);
		font-weight: 400;
		color: #000;
		display: inline-block;
		margin-bottom: 40px;
	}
	&-subcategory {
		@include em(16px);
		font-weight: 700;
		color: #000;
		display: block;
		cursor: pointer;
		margin-bottom: 24px;
	}
	&-link {
		display: block;
		@include em(14px);
		font-weight: 400;
		color: #000;
		margin-bottom: 15px;
	}
	&-row {
		display: flex;
		flex-wrap: wrap;
	}
	&-col {
		width: 22%;
		margin-right: 30px;
		margin-bottom: 30px;
		&:nth-child(4n) {
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 1025px) {
	.catalog-page {
		&-nav-btn {
			width: 220px;
		}
	}
}

@media screen and (max-width: 769px) {
	.catalog-page {
		&-nav {
			margin-bottom: 30px;
		}
		&-nav-btn {
			width: 48%;
			margin-right: 4%;
			padding: 18px 10px;
			&:nth-child(even) {
				margin-right: 0;
			}
			p {
				@include em(12px);
				margin-left: 10px;
			}
		}
		&-row {
			flex-wrap: wrap;
		}
		&-col {
			width: 100%;
			margin-right: 0;
		}
	}
}