.button {
    display: inline-block;
    padding: 17px 25px;
    color: #fff;
    @include em(12px);
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 1.4px;
    border: none;
    cursor: pointer;
    &.--black {
        background: #000;        
    }
    &.--main-color {
        background: var(--color-base);
    }
    &.--white {
        background: #fff;
        color: var(--color-base);
    }
    &.--arrow {
        padding-right: 60px;
        &:after {
            content: '';
            width: 20px;
            height: 20px;
            background: url('/icons/arrow-icon.svg') center no-repeat;
            background-size: cover;
            filter: invert(1);
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.product-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        width: 50px;
        height: 40px;
        border: none;
        cursor: pointer;
        padding: 0;
    }
    span {
        @include em(14px);
        font-weight: 500;
        color: #000;
        display: inline-block;
        margin: 0 20px;
    }
    &-increase {
        background: url('/icons/increase-icon.svg') center no-repeat;
        background-size: cover;
    }
    &-decrease {
        background: url('/icons/decrease-icon.svg') center no-repeat;
        background-size: cover;
    }
}
