.product-aside {
	padding-top: 50px;
	&-inner {
		border-radius: 8px;
		box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.04);
		padding: 20px;
		width: 340px;
		margin-bottom: 40px;
	}
	&-price-wrp {
		display: flex;
		align-items: center;
	}
	&-price {
		@include em(28px);
		font-weight: 700;
		color: #000;
		margin-right: 20px;
	}
	&-old-price {
		@include em(16px);
		font-weight: 500;
		color: var(--gray-base);
		text-decoration: line-through;
	}
	&-available {
		@include em(14px);
		font-weight: 600;
		color: #4CAF50;
		margin-top: 5px;
		margin-bottom: 30px;
  }
  &-not-available {
    @include em(14px);
		font-weight: 600;
    color: var(--text-red);
    margin-top: 5px;
		margin-bottom: 30px;
  }
	&-title {
		@include em(16px);
		font-weight: 700;
		color: #000;
		margin-bottom: 10px;
	}
	&-icon {
		width: 30px;
		height: 30px;
		margin-right: 10px;
	}
	&-row {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
	}
	&-text {
		@include em(14px);
		font-weight: 600;
		color: #000;
		span,
		a {
			color: var(--color-base);
		}
	}
	.button {
		width: 100%;
		text-align: left;
		padding: 16px 25px;
    position: relative;
    svg {
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
    }
    &.-added {
      path {
        fill: var(--color-base);
        stroke: var(--color-base);
      }
    }
    path {
      transition: 0.3s ease;
    }
		&.--white {
			margin-top: 10px;
			border: 1px solid var(--line-base);
			&:after {
				background: url('/icons/favorites-icon.svg') center no-repeat;
				filter: invert(0);
			}
    }
    &:hover {
      path {
        stroke: var(--color-base);
      }
    }
    &-add-to-cart {
      path {
        fill: #fff;
        stroke: transparent;
      }
      &:hover {
        path {
          fill: #fff;
          stroke: transparent;
        }
      }
    }
	}
	&-brand {
		max-width: 85px;
		height: 45px;
		margin-top: 10px;
	}
	.product-counter {
		opacity: 1;
		justify-content: space-between;
		button {
			height: 50px;
			background-size: cover;
			overflow: hidden;
			border-radius: 6px;
		}
	}
}

@media screen and (max-width: 1025px) {
	.product-aside {
		&-inner {
			width: 310px;
		}
	}
}

@media screen and (max-width: 810px) {
	.product-aside {
		padding-top: 30px;
		padding-left: 0;
		.button {
			display: none;
		}
		&-inner {
			padding: 0;
			margin-bottom: 0;
			width: 100%;
			box-shadow: none;
		}
	}
}
