.product-page {
	padding-top: 20px;
	.breadcrumbs {
		margin-bottom: 40px;
	}
	&-row {
		display: flex;
		padding-bottom: 60px;
		border-bottom: 1px solid var(--line-base);
	}
	&-link {
		color: var(--color-base);
		@include em(14px);
		font-weight: 600;
	}
	&-right {
		width: 66.6%;
	}
	&-right-inner {
		display: flex;
		.product-page-col {
			width: 50%;
		}
	}
	&-col {
		width: 33.3%;
		&.--padding {
			padding-left: 20px;
		}
	}
	&-mob-name {
		display: none;
	}
	&-brand {
		@include em(12px);
		font-weight: 500;
		color: #000;
		text-transform: uppercase;
	}
	&-name {
		@include em(24px);
		font-weight: 600;
		color: #000;
	}
	&-mobile-btn {
		display: none;
	}
}

@media screen and (max-width: 810px) {
	.product-page {
		&-row,
		&-right-inner {
			flex-wrap: wrap;
		}
		&-right-inner {
			.product-page-col {
				width: 100%;
			}
		}
		&-right {
			width: 100%;
		}
		&-name-wrp {
			display: none;
		}
		&-col {
			width: 100%;
			&.--padding {
				padding-left: 0;
			}
		}
		&-mob-name {
			margin-top: 30px;
			display: block;
		}
		&-name {
			@include em(20px);
		}
		&-mobile-btn {
			display: flex;
			position: fixed;
			width: 100%;
			bottom: 0;
			z-index: 9;
			left: 0;
			padding: 10px 20px;
			background: #fff;
			box-shadow: 0px -3px 20px rgba(0, 0, 0, 0.04);
			.button {
				position: relative;
				padding-right: 40px;
				flex-grow: 1;
				text-align: left;
				&:after {
					position: absolute;
					right: 20px;
					top: 50%;
					transform: translateY(-50%);
					content: '';
					width: 20px;
					height: 20px;
					background: url('/icons/cart-icon.svg') center no-repeat;
					background-size: contain;
					filter: invert(1);
				}
			}
			.product-counter {
				flex-grow: 1;
				justify-content: space-between;
			}
		}
		&-add-favorites {
			border: 1px solid var(--line-base);
			border-radius: 100%;
			width: 50px;
			height: 50px;
			margin-left: 20px;
			// background: #fff url('/icons/favorites-icon.svg') center no-repeat;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			svg {
				width: 20px;
				height: 20px;
			}
		}
		.-added {
			path {
				fill: var(--color-base);
				stroke: var(--color-base);
			}
		}
	}
}
